.config__range {
  width: 200px;
  height: 20px;
  -webkit-appearance: none;
  background: linear-gradient(90deg, rgb(257, 127, 80) 50%, rgb(255, 255, 255) 50%);
  outline: none;
  opacity: .7;
  border-radius: 20px;
  border: 1px solid black;
  transition: opacity .5s;
  cursor: pointer;
}

.config__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 27px;
  height: 27px;
  background-color: coral;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;
  transition: all .5s;
}

@media screen and (min-width: 801px) {
  .config__range::-webkit-slider-thumb:hover {
    background-color: black;
  }
}

