.button {
  width: 150px;
  height: 35px;
  background-color: white;
  border: 1px solid black;
  font-weight: 700;
  color: coral;

  cursor: pointer;
  transition: opacity .5s;
}

.button:focus {
  outline: none;
}


@media screen and (max-width: 800px) {
  .button {
    margin: 30px 0 0 0;
  }
}

@media screen and (min-width: 801px) {
  .button:hover {
    color: black;
    border: 1px solid coral;
    background-color: coral;
  }
}
