.config__range_disabled {
  background: linear-gradient(90deg, black 50%, rgb(255, 255, 255) 50%);
  opacity: .1;
  cursor: default;
}

.config__range_disabled::-webkit-slider-thumb:hover {
  background-color: coral;
  cursor: default;
}
